





.title {
    top: 6px;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    z-index: 1;
    left: 10px;
    margin-bottom: 31px;
    &::before {
        content: '';
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #FFA501;
        top: 50%;
        transform: translateY(-50%);
        left: -10px;
        z-index: -1;
        position: absolute;
    } 
    
    &_fz36 {
        font-size: 36px;
    }
    &_fz20 {
        font-size: 20px;
    }
    &_fz16 {
        font-size: 16px;
    }
    &_fz14 {
        font-size: 14px;
    }
    &_fz12 {
        font-size: 12px;
    }
    &_center {
        text-align: center;
        left: 0px;

        opacity: 0;
        transition: all 0.3s ease 0s;
        transform: translate(0px, 150%) rotate(0deg) scale(1, 1) skew(0deg, 0deg);

        &::before {  
            content: '';
            left: 50%; 
            transform: translate(-50%, -50%);
        } 
    }
}

.subtitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    color: #000000;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    
    &::before {  
        content: '';
        width: 60px;
        height: 3px;
        background-color: #FFA501;
        position: absolute;
        left: 0;
        bottom: 0px;
    }
    &_center {
        text-align: center;
        padding: 0px 0px 35px 0px;
        margin-bottom: 66px;
        opacity: 0;
        transition: all 0.3s ease 0.2s;
        transform: translate(0px, 120%) rotate(0deg) scale(1, 1) skew(0deg, 0deg);
        transform-origin: center;
        &::before {  
            content: '';
            left: 50%; 
            transform: translateX(-50%) !important;
        } 

        
    }
}

.title_center ._active-show {
    opacity: 1;
    // transition: all 0.3s ease 0s;
    transform: translate(0px, 0) rotate(0deg) scale(1, 1) skew(0deg, 0deg);
    transform-origin: center;
}

.subtitle_center ._active-show {
    opacity: 1;
    // transition: all 0.3s ease 0s;
    transform: translate(0px, 0) rotate(0deg) scale(1, 1) skew(0deg, 0deg);
    transform-origin: center;
}

// .title {
//     font-family: Poppins;
//     font-style: normal;
//     font-weight: bold;
//     font-size: 36px;
//     line-height: 30px;
//     color: #000000;
//     position: relative;
//     padding-bottom: 20px;
//     margin-bottom: 20px;
//     &::before {  
//         content: '';
//         width: 60px;
//         height: 3px;
//         background-color: #FFA501;
//         position: absolute;
//         left: 0;
//         bottom: 0px;
//     }
//     &_fz36 {
//         font-size: 36px;
//     }
//     &_fz20 {
//         font-size: 20px;
//     }

//     &_fz16 {
//         font-size: 16px;
//     }

//     &_fz14 {
//         font-size: 14px;
//     }

//     &_fz12 {
//         font-size: 12px;
//     }
// }
